$white: #ffffff;
$light-grey: rgb(220, 220, 220);
$grey: rgb(130, 130, 130);
$dark-grey: #313030;
$black: #1a1a1a;

$background-green: rgba(49, 230, 199, 0.7);
$background-blue: rgba(79, 29, 218, 0.7);

$theme-color: rgb(61, 222, 233);
$theme-color2: rgb(16, 199, 212);
$input-field-color: rgba(184, 184, 184, 0.25);
$placeholder-grey: rgb(161, 192, 196);